In [49]:
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup
import requests
import numpy as np

In [50]:
url='https://devtomanager.com/interviews/page/{}/'

In [51]:
def interview():
    name=[i.find('a',class_='text-reset').text.strip().split(',')[0] for i in con]
    job=[i.find('a',class_='text-reset').text.strip().split(',')[1] for i in con]
    jo=[i.split('at')[0] for i in job]
    company=[]
    for i in job:
        try:
            company.append(i.split(' at')[1])
        except:
            company.append(np.nan)
    text=[i.find('p',class_='card-text').text.strip() for i in con]
    dummy=[hmm[i].text.strip() for i in range(1,10,2)]
    date=[i.split('\n')[0] for i in dummy]
    tags=[i.split()[4:] for i in dummy]
    return pd.DataFrame({'Employee Name':name,'Job Position':jo,'Company':company,'Interview quote':text,'Date':date,'Tags':tags})

In [52]:
tables=[]
for i in tqdm(range(1,6)):
    urls=url.format(i)
    html=requests.get(urls).text
    soup=BeautifulSoup(html,'lxml')
    con=soup.find_all('div',class_="col-md-8")
    hmm=soup.find_all('p',class_='card-text')
    tables.append(interview())

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  2.63it/s]

In [53]:
interview=pd.concat(tables,axis=0)
interview.head()

,Employee Name,Job Position,Company,Interview quote,Date,Tags
0,Aviv Ben-Yosef,Tech Executive Consultant,NaN,"“I want to set up managers to succeed, no matt...","August 16, 2021","[#coaching, #consulting]"
1,Anand Safi,Engineering Manager,Mark43,“I very well understand where my interests lie...,"July 19, 2021","[#coaching, #frontend, #full-stack, #public-sa..."
2,Shawn Axsom,Senior Engineering Manager,Docker,“Your focus (and challenges) grows from your d...,"July 05, 2021","[#backend, #coaching, #information-systems, #web]"
3,Kevin Doyle,CTO,patientMpower,“If I can provide enough direction to allow pe...,"June 21, 2021","[#full-stack, #health-tech]"
4,Arnab Sen,Technical Delivery Manager,AKQA,“The switch to management can be highly reward...,"May 10, 2021","[#consulting, #digital-marketing, #e-commerce,..."

In [54]:
interview.tail()

,Employee Name,Job Position,Company,Interview quote,Date,Tags
0,Dhimil Gosalia,Director of Engineering,BrowserStack,“What I enjoy the most is solving problems. I ...,"August 24, 2020","[#infrastructure, #mobile, #network-engineerin..."
1,Daniel Millington,Engineering Manager,Samsara,“When I’m able to see engineers on my teams ta...,"August 10, 2020","[#embedded-systems, #infrastructure, #internet..."
2,Dhruv Agarwal,Engineering Manager,Shuttl,“Always think about the larger picture and not...,"July 27, 2020","[#product, #web]"
3,Swaathi Kakarla,Co-founder & CTO,Skcript,“People management is not like giving instruct...,"July 13, 2020","[#elixir, #product, #ruby-on-rails, #web]"
4,Mark Shropshire,Senior Director of Development,Mediacurrent,“You can lead in your current role. No need to...,"June 29, 2020","[#mentorship, #open-source]"

In [55]:
interview.head()

,Employee Name,Job Position,Company,Interview quote,Date,Tags
0,Aviv Ben-Yosef,Tech Executive Consultant,NaN,"“I want to set up managers to succeed, no matt...","August 16, 2021","[#coaching, #consulting]"
1,Anand Safi,Engineering Manager,Mark43,“I very well understand where my interests lie...,"July 19, 2021","[#coaching, #frontend, #full-stack, #public-sa..."
2,Shawn Axsom,Senior Engineering Manager,Docker,“Your focus (and challenges) grows from your d...,"July 05, 2021","[#backend, #coaching, #information-systems, #web]"
3,Kevin Doyle,CTO,patientMpower,“If I can provide enough direction to allow pe...,"June 21, 2021","[#full-stack, #health-tech]"
4,Arnab Sen,Technical Delivery Manager,AKQA,“The switch to management can be highly reward...,"May 10, 2021","[#consulting, #digital-marketing, #e-commerce,..."

In [56]:
interview.to_csv('Interview.csv')

In [57]:
data=pd.read_csv('Interview.csv')
data.head()

,Unnamed: 0,Employee Name,Job Position,Company,Interview quote,Date,Tags
0,0,Aviv Ben-Yosef,Tech Executive Consultant,NaN,"“I want to set up managers to succeed, no matt...","August 16, 2021","['#coaching', '#consulting']"
1,1,Anand Safi,Engineering Manager,Mark43,“I very well understand where my interests lie...,"July 19, 2021","['#coaching', '#frontend', '#full-stack', '#pu..."
2,2,Shawn Axsom,Senior Engineering Manager,Docker,“Your focus (and challenges) grows from your d...,"July 05, 2021","['#backend', '#coaching', '#information-system..."
3,3,Kevin Doyle,CTO,patientMpower,“If I can provide enough direction to allow pe...,"June 21, 2021","['#full-stack', '#health-tech']"
4,4,Arnab Sen,Technical Delivery Manager,AKQA,“The switch to management can be highly reward...,"May 10, 2021","['#consulting', '#digital-marketing', '#e-comm..."

In [58]:
data.shape

(25, 7)

In [59]:
data.duplicated().value_counts()

False    25
dtype: int64

In [60]:
data.columns

Index(['Unnamed: 0', 'Employee Name', 'Job Position', 'Company',
       'Interview quote', 'Date', 'Tags'],
      dtype='object')

In [61]:
data.drop(columns=['Unnamed: 0'],inplace=True)
data.head()

,Employee Name,Job Position,Company,Interview quote,Date,Tags
0,Aviv Ben-Yosef,Tech Executive Consultant,NaN,"“I want to set up managers to succeed, no matt...","August 16, 2021","['#coaching', '#consulting']"
1,Anand Safi,Engineering Manager,Mark43,“I very well understand where my interests lie...,"July 19, 2021","['#coaching', '#frontend', '#full-stack', '#pu..."
2,Shawn Axsom,Senior Engineering Manager,Docker,“Your focus (and challenges) grows from your d...,"July 05, 2021","['#backend', '#coaching', '#information-system..."
3,Kevin Doyle,CTO,patientMpower,“If I can provide enough direction to allow pe...,"June 21, 2021","['#full-stack', '#health-tech']"
4,Arnab Sen,Technical Delivery Manager,AKQA,“The switch to management can be highly reward...,"May 10, 2021","['#consulting', '#digital-marketing', '#e-comm..."

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Employee Name    25 non-null     object
 1   Job Position     25 non-null     object
 2   Company          24 non-null     object
 3   Interview quote  25 non-null     object
 4   Date             25 non-null     object
 5   Tags             25 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB

In [63]:
data['Date']=pd.to_datetime(data['Date'])

In [64]:
data.head()

,Employee Name,Job Position,Company,Interview quote,Date,Tags
0,Aviv Ben-Yosef,Tech Executive Consultant,NaN,"“I want to set up managers to succeed, no matt...",2021-08-16,"['#coaching', '#consulting']"
1,Anand Safi,Engineering Manager,Mark43,“I very well understand where my interests lie...,2021-07-19,"['#coaching', '#frontend', '#full-stack', '#pu..."
2,Shawn Axsom,Senior Engineering Manager,Docker,“Your focus (and challenges) grows from your d...,2021-07-05,"['#backend', '#coaching', '#information-system..."
3,Kevin Doyle,CTO,patientMpower,“If I can provide enough direction to allow pe...,2021-06-21,"['#full-stack', '#health-tech']"
4,Arnab Sen,Technical Delivery Manager,AKQA,“The switch to management can be highly reward...,2021-05-10,"['#consulting', '#digital-marketing', '#e-comm..."

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Employee Name    25 non-null     object
 1   Job Position     25 non-null     object
 2   Company          24 non-null     object
 3   Interview quote  25 non-null     object
 4   Date             25 non-null     datetime64[ns]
 5   Tags             25 non-null     object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.3+ KB

In [66]:
data['Tags']=data['Tags'].astype('category')

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Employee Name    25 non-null     object
 1   Job Position     25 non-null     object
 2   Company          24 non-null     object
 3   Interview quote  25 non-null     object
 4   Date             25 non-null     datetime64[ns]
 5   Tags             25 non-null     category
dtypes: category(1), datetime64[ns](1), object(4)
memory usage: 1.9+ KB

In [68]:
data.to_csv('Final_csv_Interview.csv')